<template name="leaderboard">
  
  {{#if currentUser}}
  {{> EasySearch.Input index=index attributes=inputAttributes }}

  {{#EasySearch.IfInputEmpty index=index }}
    <div class="padded examples"></div>
  {{else}}
    {{#if resultsCount}}
      <div class="padded count-results">{{resultsCount}} results found.</div>
    {{/if}}
  {{/EasySearch.IfInputEmpty}}

   
  {{#EasySearch.IfSearching index=index }}
    <div>Searching</div>
  {{/EasySearch.IfSearching }}
  <ul class="leaderboard">
    {{#EasySearch.Each index=index }}
      {{#if isLoggeduser owner }}
      {{> player}}
      {{/if}}
    {{/EasySearch.Each}}
  </ul>

  {{#EasySearch.IfNoResults index=index }}
    <div class="padded no-results">No results found</div>
  {{else}}
     
    {{#if selectedName}}
      <div class="details">
        <div class="name">{{selectedName.tags}}</div>
        <button class="inc">Add 5 points</button>
      </div>
    {{else}}
      <div class="message">Click a player to select</div>
    {{/if}}
  {{/EasySearch.IfNoResults }}

  {{> EasySearch.Pagination index=index maxPages=10 }}
  {{! > EasySearch.LoadMore index=index }}

  {{#if showMore}}
    {{> EasySearch.Input name="mini-index" index=index attributes=inputAttributes }}

    <ul>
      {{#EasySearch.Each name="mini-index" index=index }}
        <li>{{renoted_id}}</li>
      {{/EasySearch.Each}}
    </ul>
  {{/if}}
{{/if}}
</template>


<template name="navbar">
  <div class="navbar navbar-inverse">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Renoted</a>
     {{> loginButtons}}
    </div>
  </div>
</template>


<template name="first">
  <div class="container">
    <div class="row">
      {{> navbar}}
    </div>
    <div class="row">
       <div class="col-md-2">
       </div>
       <div class="col-md-8">
       {{> tagsbar}}
       {{> leaderboard}}
       </div>

        <div class="col-md-2">
       Hello World
       </div>       
     </div>
    </div>
</template>
<template name="tagsbar">
    {{#each tagsall}}
      {{#if isLoggeduser owner }}
     {{#each tags}}
     <button type="button" class="btn btn-default category-filter" value={{this}}>{{this}}</button>
     {{/each}}
     {{/if}}
      {{/each}}
   <button type="button" class="btn btn-default category-filter" value="">All</button>
</template>
