<template name="renotedleaderboard">
  {{> EasySearch.Input index=index attributes=inputAttributes }}

  {{#EasySearch.IfInputEmpty index=index }}
    <div class="padded examples">For example "143756789"</div>
  {{else}}
    {{#if resultsCount}}
      <div class="padded count-results">{{resultsCount}} results found.</div>
    {{/if}}
  {{/EasySearch.IfInputEmpty}}

  <select class="category-filter">
    <option value="">All</option>
    <option value="Hipster">Hipster</option>
    <option value="Genius">Genius</option>
    <option value="Idler">Idler</option>
    <option value="Geek">Geek</option>
  </select>

  {{#EasySearch.IfSearching index=index }}
    <div>Searching</div>
  {{/EasySearch.IfSearching }}

    {{#EasySearch.Each index=index }}
      {{> renoted}}
    {{/EasySearch.Each}}

  {{#EasySearch.IfNoResults index=index }}
    <div class="padded no-results">No results found</div>
  {{else}}
    {{#if selectedRenoted}}
      <div class="details">
        <div class="name">{{selectedRenoted}}</div>
        <button class="inc">Add 5 points</button>
      </div>
    {{else}}
      <div class="message">Click an annotation to select</div>
    {{/if}}
  {{/EasySearch.IfNoResults }}

  {{> EasySearch.Pagination index=index maxPages=10 }}
  {{! > EasySearch.LoadMore index=index }}

  {{#if showMore}}
    {{> EasySearch.Input renoted_id="mini-index" index=index attributes=inputAttributes }}

    <ul>
      {{#EasySearch.Each renoted_id="mini-index" index=index }}
        <li>{{renoted_id}}</li>
      {{/EasySearch.Each}}
    </ul>
  {{/if}}

</template>
